body{
    font-family:'Open Sans';
    font-size: 16px;
    color: #444;
}
#topbar .wrapper{
    background-color:gainsboro;
}
#topbar .wrapper li{
    display: inline;
}
#topbar .wrapper form{
    color:black;
    text-align: right;
}
header{
    background-color: white;
}
header .wrapper nav{
    text-align: right;
}
header h1 a{
    font-family: cursive;
    text-decoration: none;    
}
header nav li{
    display: inline;
    margin:25px;
}
header nav li a{
    text-decoration: none;
    color:#444;
}
#banner .wrapper{
    color: white;
    background-image: url(../img/seoul_skyline.jpg);
    background-size:100% 100%;
    height: 50rem;
    background-repeat: no-repeat;
    white-space: nowrap;
    display: block;
}
#banner .wrapper a{
    color: white;
    text-decoration: none;
}
main .wrapper{
    display: flex;
    flex-flow: nowrap;
}

main .main_left li{
    display: inline;
    
}



