body {
    font:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
#banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 20px;
	margin: auto;
	width: 53%;
}

.branding a{
	text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color:violet;

}

header nav ul {
	margin-top: 50px;
}

header nav li {
	display: inline-block;
	font-size: 18px;
	padding: 5px;
}

header nav li a {
	color: black;
	text-decoration: none;
}

header nav li a:hover{
	color: #DF593E;
}

header{
    color: #ffffff;
    padding-top: 1em;
    min-height: 4em;
	border-bottom: #e8491d 3px solid;

}

.container{
	display: grid;
	grid-template-columns: auto auto;
	font-size: 20px;
	width: 53%;
	margin: auto;
	/*
    overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center center;
	flex-wrap: wrap;*/

}

.container h1{
	font-family: 'Amiri', serif;
	border-bottom: 2px solid #DF593E;

}


form p {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}
form input[type=text] {
	width: 50%;
	padding: 7px 10px;
	display: block;
	border: 2px solid rgb(240, 236, 236);
	border-radius: 8px;
	box-sizing: border-box;
	background-color: rgb(240, 236, 236);
}
form textarea {
	width: 60%;
	padding: 50px;
	display: block;
	border: 1px solid rgb(240, 236, 236);
	border-radius: 8px;
	box-sizing: border-box;
	background-color: rgb(240, 236, 236);
}
form button[type=submit] {
    background-color:#c0627b;
	color: white;
	padding: 12px 20px;
	border: none;
	width: 40%;
	border-radius: 4px;
	cursor: pointer;
}
form p:first-child {
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}


footer .wrapper {
	text-align: center;
	padding: 15px;
	letter-spacing: 2px;
	margin:	auto;
	color:  #e8491d;
	background-color: #f4f4f4;
}