body {
    font:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
#banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 20px;
	margin: auto;
	width: 70%;

}

.branding a{
	text-decoration: none;
    font-family: 'Dancing Script', cursive;
	color:rebeccapurple;
}

header nav ul {
	margin-top: 50px;
}

header nav li {
	display: inline-block;
	font-size: 18px;
	padding: 5px;
}

header nav li a {
	color: black;
	text-decoration: none;
}

header nav li a:hover{
	color: #DF593E;
}

header{
    color: #ffffff;
    padding-top: 1em;
    min-height: 4em;
	border-bottom: #e8491d 3px solid;

}

.sushiproductslist h2{
    font-family: 'Amiri', serif;
	border-bottom: 2px solid #DF593E;

}



.ItemTitle img {
	width: 50%;
    height: 40%;
}




.sushiproductslist{
    font-size: 20px;
	width: 80%;
    margin: auto;
    overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


.ItemList{
	
	display: grid;
	align-content:left;
	grid-template-columns: auto auto auto;
	grid-column-gap: 40px;

}

@media (max-width: 1100px)  {	
	.ItemList{
		font-size: 18px;
		grid-template-columns: auto auto;
	}
}
@media (max-width: 700px)  {	
	.ItemList{
		display: block;
		grid-template-columns: none;
	}
}

.item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


footer .wrapper {
	padding: 25px;
	font-size: 18px;
	margin: auto;
	width: 53%;
	text-align: center;
	letter-spacing: 2px;
	color:  #e8491d;
	background-color: #f4f4f4;
}